@import url("https://fonts.googleapis.com/css?family=Heebo:300&display=swap");

* {
  box-sizing: border-box;
}
:root {
  --primary-color: #000;
  --secondary-color: #fff;
}
html.dark {
  --primary-color: #fff;
  --secondary-color: #000;
}
html {
  transition: all ease-in 0.0005s;
}
html.dark {
  background-color: #000;
  color: var(--primary-color);
}
body {
  font-family: "Heebo", sans-serif;
  position: relative;
  align-items: center;
  text-transform: uppercase;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  color: var(--primary-color);
  height: 100vh;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
}
.toggle {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 0;
  border-radius: 4px;
  padding: 8px 12px;
  position: absolute;
  top: -80px;
  left: 25px;
  height: auto;
  width: 100px;
}
.toggle:focus {
  outline: none;
}
.all-container {
  background-color: var(--secondary-color);
  margin-top: 90px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.tile-container {
  position: relative;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  width: 550px;
  height: 100vh;
  padding: 50px;
  border-right: 2px solid var(--primary-color);
  border-left: 2px solid var(--primary-color);
}
.game-tiles {
  margin-top: 20px;
  display: flex;

  flex-wrap: wrap;
  padding: auto;
  border: 1px red;
}
.heading {
  text-transform: uppercase;
  position: relative;
  top: -20px;
  font-size: 50px;
}
.title {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  
}

.tile:hover {
  background-color: rgb(97, 94, 94);
}
.tile {
  display: flex;
  border: 1px solid var(--primary-color);
  flex-direction: row;
  font-size: 15px;
  color: transparent;
  font-weight: 250px;
  font-family: sans-serif;
  margin: 2px;
  width: 40px;
  opacity: 100;
  height: 40px;
  background-color: gray;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.tile-text {
  color: black;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  position: relative;
  top: 12%;
}
.score-text {
  position: relative;
  display: inline;
  font-weight: bolder;
  font-size: 20px;
  margin-left: 0;
  left: 10px;
  padding: 0;
}
.score {
  z-index: 10;
  display: inline;
  font-weight: bold;
  margin: 0;
  margin-left: 10px;
  position: relative;
  font-size: 20px;
}
.rules {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 400px;
  position: relative;
  left: -20%;
  top: 20%;
  font-size: 15px;
}
